@model PagedList.IPagedList<TechShop.Models.News>
@using PagedList.Mvc;
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
    <title>@ViewBag.CategoryName</title>
}
<div class="post_category">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
            <li><a href="/">Trang chủ</a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
            <li><a href="/tin-tuc">Tin Tức</a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
            <li><a href="/tin-tuc/@ViewBag.CategoryMeta-@ViewBag.CategoryID">@ViewBag.CategoryName</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="block">
            <div class="block__header"><span class="block__header__title">@ViewBag.CategoryName</span></div>
            <div class="block__content">
                <div class="post-list">
                    @foreach (var item in Model)
                    {
                        <div class="post">
                            <div class="thumb"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID"><img src="@item.Images"></a></div>
                            <div class="title"><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">@item.Title</a></div>
                            <div class="desc">@item.Description</div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="category__paginate">
            @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
</div>
