@model TechShop.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section css{
    <style>
        .img-custom {
            width: 200px;
        }
    </style>
}
@section header{
    Chi tiết sản phẩm: @Model.Title
}
<div>
    <hr />
    <table class="table table-striped"
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.Title)</th>
    <td>@Html.DisplayFor(model => model.Title)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.Code)</th>
    <td>@Html.DisplayFor(model => model.Code)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.MetaTitle)</th>
    <td>@Html.DisplayFor(model => model.MetaTitle)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.Thumb)</th>
    <td><img class="img-fluid img-custom" src="@Html.DisplayFor(model => model.Thumb)" alt=""></td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.Description)</th>
    <td>@Html.Raw(Model.Description)</td>
    </tr>
    <tr>
    <th scope="row"> @Html.DisplayNameFor(model => model.Price)</th>
    <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
    <tr>
    <th scope="row"> @Html.DisplayNameFor(model => model.OldPrice)</th>
    <td>@Html.DisplayFor(model => model.OldPrice)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.MetaKeywords)</th>
    <td>@Html.DisplayFor(model => model.MetaKeywords)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.MetaDescription)</th>
    <td>@Html.DisplayFor(model => model.MetaDescription)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.CategoryID)</th>
    <td>@ViewBag.CategoryName</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.Quantity)</th>
    <td>@Html.DisplayFor(model => model.Quantity)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.CreatedDate)</th>
    <td>@Html.DisplayFor(model => model.CreatedDate)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.CreatedBy)</th>
    <td>@Html.DisplayFor(model => model.CreatedBy)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.UpdatedDate)</th>
    <td>@Html.DisplayFor(model => model.UpdatedDate)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.UpdatedBy)</th>
    <td>@Html.DisplayFor(model => model.UpdatedBy)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.Detail)</th>
    <td>@Html.Raw(Model.Detail)</td>
    </tr>
    <tr>
    <th scope="row"> @Html.DisplayNameFor(model => model.ViewCount)</th>
    <td> @Html.DisplayFor(model => model.ViewCount)</td>
    </tr>
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.BrandID)</th>
    <td>@ViewBag.BrandName</td>
    </tr>
    @*<tr>
            <th scope="row">@Html.DisplayNameFor(model => model.UpTopNew)</th>
            <td>@Html.DisplayFor(model => model.UpTopNew)</td>
        </tr>*@
    <tr>
    <th scope="row">@Html.DisplayNameFor(model => model.UpTopHot)</th>
    <td>
    @{
        if (Model.UpTopHot == true)
        {
            <span class="badge badge-pill badge-success">Kích hoạt</span>
        }
        else
        {
            <span class="badge badge-pill badge-danger">Chưa kích hoạt</span>
        }
    }
    </td>
    </tr>
    </table>
    <hr />
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", null, new { id = Model.ID }, new { @class = "btn btn-primary btn-icon-split btn-padding" }) |
    @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-secondary btn-icon-split btn-padding" })
</p>
