@model TechShop.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <style>
        .img-custom {
            width: 200px;
        }
    </style>
}
@section header{
    Chi tiết feedback
}
<div>
    <hr />
    <table class="table table-striped">
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Company)</th>
            <td>@Html.DisplayFor(model => model.Company)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Address)</th>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Image)</th>
            <td><img class="img-fluid img-custom" src="@Html.DisplayFor(model => model.Image)" alt=""></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Message)</th>
            <td>@Html.DisplayFor(model => model.Message)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.IsReaded)</th>
            <td>
                @{
                    if (Model.IsReaded == true)
                    {
                        <span class="badge badge-pill badge-success">Đã duyệt</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger">Chưa duyệt</span>
                    }
                }
            </td>
        </tr>
    </table>
    <hr />
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", null, new { id = Model.ID }, new { @class = "btn btn-primary btn-icon-split btn-padding" }) |
    @Html.ActionLink("Trở lại", "Index", null, new { @class = "btn btn-secondary btn-icon-split btn-padding" })
</p>
