@model IEnumerable<TechShop.Models.Footer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section css{
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section js{
    <!-- Page level plugins -->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Assets/Admin/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $('.btnDelete').each(function () {
            var ID = $(this).data('id');
            $(this).off('click').on('click', function () {
                swal({
                    title: "Bạn chắc chứ?",
                    text: "Xoá footer " + ID,
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: '/Footers/Delete/',
                                data: {
                                    id: ID
                                },
                                dataType: 'json',
                                type: 'POST',
                                success: function (res) {
                                    if (res.status == true) {
                                        swal("Xoá footer thành công!", {
                                            icon: "success",
                                        });
                                        var $tr = $(this).closest('tr');
                                        $tr.remove();
                                        location.reload();
                                    }
                                }
                            });
                        } else {
                            swal("Footer vẫn được giữ nguyên!");
                        }
                    });
            });
        });
    </script>
}
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success btn-icon-split btn-padding" })
</p>
<div class="card mb-4">
    <div class="card-header">Footer</div>
    <div class="card-body">
        <div class="datatable">
            <table class="table table-bordered table-hover dataTable" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContentHtml)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContentHtml)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>#</th>
                    </tr>
                </tfoot>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="/Admin/Footers/Details/@item.ID" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">@Html.DisplayFor(modelItem => item.Title)</a>
                            </td>
                            <td>
                                @Html.Raw(item.ContentHtml)
                            </td>
                            <td>
                                @{
                                    if (item.Status == true)
                                    {
                                        <span class="badge badge-pill badge-success">Kích hoạt</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-danger">Chưa kích hoạt</span>
                                    }
                                }
                            </td>
                            <td style="display:flex">
                                <a class="btn btn-success btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Sửa" href="/Admin/Footers/Edit/@item.ID"><i class="fa fa-edit"></i></a> |
                                <a class="btnDelete btn btn-danger btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Xoá" data-id="@item.ID"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>