@model TechShop.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sameProducts = (List<TechShop.Models.Product>)ViewBag.SameProducts;
}
@section title{
    <title>@Model.Title</title>
}
@section js {
    <link href="/Assets/Client/js/rating.css" rel="stylesheet" />
    <script src="/Assets/Client/js/rating.js"></script>
    <script>
        $(document).ready(function () {
            $('input.rating').rating();
        });
    </script>
    <script src="/Assets/Client/js/popper.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script>
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 30,
            centeredSlides: true,
            slidesPerView: 'auto',
            touchRatio: 0.2,
            slideToClickedSlide: true
        });
        galleryTop.controller.control = galleryThumbs;
        galleryThumbs.controller.control = galleryTop;

    </script>
    <script>
        var swiper = new Swiper('.product-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 0,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 0,
                },
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#form-review").validate({
                invalidHandler: function (event, validator) {
                    // 'this' refers to the form
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        $(".alert-box").hide();
                        var message = errors == 1
                            ? 'Bạn đã nhập lỗi 1 field. Vui lòng nhập lại field này!'
                            : 'Bạn đã nhập lỗi ' + errors + ' fields.  Vui lòng nhập lại cho các fields này!';
                        var html = '<div class="alert-box"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>' + message + '</div></div>';
                        $("#form-review").append(html);
                    } else {
                        $(".alert-box").hide();
                    }
                },
                rules: {
                    FullName: { required: true },
                    Review: { required: true },
                    Email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    FullName: { required: "Bắt buộc nhập tên" },
                    Review: { required: "Bắt buộc nhập nội dung review" },
                    Email: {
                        required: "Bắt buộc nhập mail",
                        email: "Email không hợp lệ"
                    }
                },
                submitHandler: function () {
                    var d = $("#form-review").serialize();
                    $("#button-review").unbind("click").text("Đang gửi...");
                    var url = "/Product/Review";
                    $.post(url, d, function (res) {
                        if (res.status == false) {
                            var html = '<div class="alert-box"><div class="alert alert-success"><i class="fa fa-check-circle"></i> Có lỗi xảy ra trong quá trình gửi!!!.</div></div>';
                            $("#form-review").append(html);
                            $("#button-review").text("Lỗi");
                        } else {
                            $(".alert-box").hide();
                            var html = '<div class="alert-box"><div class="alert alert-success"><i class="fa fa-check-circle"></i> Đánh giá đã được gửi đến quản trị trước khi được chấp nhận.</div></div>';
                            $("#form-review").append(html);
                            $("#button-review").text("Gửi đi");
                        }
                    }, "json");
                }
            });

        });
    </script>
}
<div class="product-single">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true" class="far fa-angle-right"></i></li>
            <li><a href="/">Trang chủ</a><i aria-hidden="true" class="far fa-angle-right"></i></li>
            <li><a href="/chi-tiet/@Model.MetaTitle-@Model.ID">@Model.Title</a></li>
        </ul>
    </div>
    <div class="product-detail-top">
        <div class="product-detail-top__left">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    @foreach (var item in ViewBag.Images)
                    {
                        <div class="swiper-slide"><img src="@item" alt="" class="zoom-img"></div>
                    }
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>

            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    @foreach (var item in ViewBag.Images)
                    {
                        <div class="swiper-slide" style="background-image: url('@item');"></div>
                    }
                </div>
            </div>
        </div>
        <!-- Description -->
        <div class="product-detail-top__right">
            <h1>@Model.Title</h1>
            <div class="rating-guarantee">
                <div class="product__rate">
                    <div class="rate__star"><i class="fas fa-star "></i> <i class="fas fa-star "></i> <i class="fas fa-star "></i> <i class="fas fa-star "></i> <i class="fas fa-star "></i></div>
                    <div class="rate__text">0 đánh giá</div>
                </div>
                <div class="guarantee"><span>Bảo hành @Model.Guarantee Tháng</span></div>
            </div>
            <div class="short-desc">
                @Html.Raw(Model.Description)
            </div>
            <div id="product" class="status-price">
                <div class="col1">
                    <div>
                        <div class="status_stock">
                            @{
                                var str = "Còn hàng";
                                var statusClass = "status1";
                                var oldPrice = "";
                                if (Model.Quantity == 0)
                                {
                                    str = "Hết hàng";
                                    statusClass = "status2";
                                }
                                if (Model.OldPrice.HasValue)
                                {
                                    oldPrice = Model.OldPrice.Value.ToString("N0") + "đ";
                                }
                            }
                            <span class="status @statusClass"><i aria-hidden="true" class="fa fa-circle"></i>@str</span>
                            <div class="quantity">
                                Số lượng
                                <div class="quantity-wrap">
                                    <input type="number" min="1" max="@Model.Quantity" step="1" value="1" id="qtyInput" @*data-id="@Model.ID"*@>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <ul class="list-unstyled list-price">
                        <li><p class="price">@(Model.Price.Value.ToString("N0"))đ</p></li>
                        <li class="price-old"><p class="old_price">@oldPrice</p></li>
                    </ul>
                </div>
            </div>

            <div class="add-cart-buttons">
                <button @*href=""*@ class="btn-add-cart btn-add-cart-2" id="add-to-cart" data-id="@Model.ID">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00033 18.3334C8.46056 18.3334 8.83366 17.9603 8.83366 17.5001C8.83366 17.0398 8.46056 16.6667 8.00033 16.6667C7.54009 16.6667 7.16699 17.0398 7.16699 17.5001C7.16699 17.9603 7.54009 18.3334 8.00033 18.3334Z" stroke="#005EC4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M17.1663 18.3334C17.6266 18.3334 17.9997 17.9603 17.9997 17.5001C17.9997 17.0398 17.6266 16.6667 17.1663 16.6667C16.7061 16.6667 16.333 17.0398 16.333 17.5001C16.333 17.9603 16.7061 18.3334 17.1663 18.3334Z" stroke="#005EC4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M1.33301 0.833252H4.66634L6.89967 11.9916C6.97588 12.3752 7.1846 12.7199 7.4893 12.9652C7.79399 13.2105 8.17526 13.3407 8.56634 13.3333H16.6663C17.0574 13.3407 17.4387 13.2105 17.7434 12.9652C18.0481 12.7199 18.2568 12.3752 18.333 11.9916L19.6663 4.99992H5.49967" stroke="#005EC4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    Thêm vào giỏ hàng
                </button>
                <button class="btn-add-cart"><i class="fas fa-heart"></i>Thêm vào yêu thích</button>
            </div>

        </div>
    </div>
    <div class="block block--policy">
        <div class="policy__item">
            <svg width="64" height="39" viewBox="0 0 64 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.73752e-06 38.9324H53.1079L64 0H10.8921L9.73752e-06 38.9324ZM13.808 3.84369H58.9334L58.1253 6.5H12.9999L13.808 3.84369ZM57.4999 9L56.6253 12H11.4999L12.3746 9H57.4999ZM50.192 35.0887H5.06664L10.8746 14.5H55.9999L50.192 35.0887Z" fill="#29324E"></path>
                <path d="M14.9249 28.0364H10.9336L9.85825 31.8801H13.8495L14.9249 28.0364Z" fill="#29324E"></path>
            </svg>
            <div class="policy__item__text">
                Hỗ trợ trả góp 0%,
                trả trước 0đ
            </div>
        </div>
        <div class="policy__item">
            <svg width="55" height="32" viewBox="0 0 55 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.500153 26H5.00014L3.1826 31.7219H46.6621L54.2567 4.80592H48.0731L49.4084 0.5L45.3493 0.5H7.91538L0.500153 26ZM4.5351 21.9159L5.03735 20.1207L5.53959 18.3255L9.69671 3.46644H40.6606H42.5248H44.3889H45.7241L45.3493 4.80592H44.0142H42.15H40.2859H10.7129L6.93056 18.3256L6.42831 20.1208L5.92607 21.916L5.56637 23.2017H4.17539L4.5351 21.9159ZM43.9469 28.1315H7.91538L8.29013 26.792L8.79237 24.9968L9.29461 23.2016L9.65431 21.9159L10.1566 20.1207L10.6588 18.3255L13.4367 8.39634H39.2814H41.1455H43.0097H44.3449H46.209H48.0731H49.5155L43.9469 28.1315Z" fill="#29324E"></path>
                <path d="M31.5353 14.3047H35.3325L36.2926 10.8727H32.4954L32.8417 9.63525H29.2778L28.9316 10.8727H24.3721L22.287 18.3254L21.8455 19.9035H26.4051L26.3443 20.1206L25.8421 21.9158L25.7989 22.0701H21.931L21.6145 23.2015L21.1122 24.9967L20.9708 25.5022H24.8387L24.4779 26.7919H28.0417L28.4025 25.5022H32.8379L32.9793 24.9967L33.4816 23.2015L33.8413 21.9158L34.3435 20.1206L34.8457 18.3254L35.3644 16.4715H30.9291L31.5353 14.3047ZM30.2774 21.9158L30.2342 22.0701H29.3627L29.4059 21.9158L29.9081 20.1206L29.9689 19.9035H30.8404L30.7796 20.1206L30.2774 21.9158ZM26.3695 16.4715L26.9757 14.3048H27.9714L27.3653 16.4715H26.3695Z" fill="#29324E"></path>
            </svg>
            <div class="policy__item__text">
                Hoàn tiền 200%
                nếu có hàng giả
            </div>
        </div>
        <div class="policy__item">
            <svg width="72" height="39" viewBox="0 0 72 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M48.9844 3.80453H20.6917L21.7561 0H53.9512L52 6.5L51 8L49.2289 13.7914L49.2289 15.1261H58.5L63.2257 13.7914L66.4656 19.7821L62.6866 33.2896H12.4427L13.5071 29.4851H59.8485L62.1898 21.1166L60.2857 17.596H45.126L48.9844 3.80453Z" fill="#29324E"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M48.8514 4.28027H59.6664L64.8191 17.5961H45.126L48.8514 4.28027ZM51 8.0848L49.5 14.5H58.9079L56.4842 8.0848H51Z" fill="#29324E"></path>
                <path d="M57.986 30.9118C56.8103 35.1142 52.3628 38.5209 48.0523 38.5209C43.7418 38.5209 41.2005 35.1142 42.3762 30.9118C43.5519 26.7094 47.9994 23.3027 52.3099 23.3027C56.6204 23.3027 59.1617 26.7094 57.986 30.9118Z" fill="#F0F3FC"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M49.1167 34.7163C51.272 34.7163 53.4957 33.013 54.0835 30.9118C54.6714 28.8106 53.4008 27.1073 51.2455 27.1073C49.0902 27.1073 46.8665 28.8106 46.2787 30.9118C45.6908 33.013 46.9615 34.7163 49.1167 34.7163ZM48.0523 38.5209C52.3628 38.5209 56.8103 35.1142 57.986 30.9118C59.1617 26.7094 56.6204 23.3027 52.3099 23.3027C47.9994 23.3027 43.5519 26.7094 42.3762 30.9118C41.2005 35.1142 43.7418 38.5209 48.0523 38.5209Z" fill="#29324E"></path>
                <path d="M32.62 30.9118C31.4443 35.1142 26.9969 38.5209 22.6864 38.5209C18.3759 38.5209 15.8346 35.1142 17.0103 30.9118C18.186 26.7094 22.6334 23.3027 26.9439 23.3027C31.2544 23.3027 33.7957 26.7094 32.62 30.9118Z" fill="#F0F3FC"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.7508 34.7163C25.906 34.7163 28.1297 33.013 28.7176 30.9118C29.3054 28.8106 28.0348 27.1073 25.8795 27.1073C23.7243 27.1073 21.5006 28.8106 20.9127 30.9118C20.3249 33.013 21.5955 34.7163 23.7508 34.7163ZM22.6864 38.5209C26.9969 38.5209 31.4443 35.1142 32.62 30.9118C33.7957 26.7094 31.2544 23.3027 26.9439 23.3027C22.6334 23.3027 18.186 26.7094 17.0103 30.9118C15.8346 35.1142 18.3759 38.5209 22.6864 38.5209Z" fill="#29324E"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1241 6.18213L30.2876 6.18213L29.2233 9.98666L15.0597 9.98666L16.1241 6.18213Z" fill="#29324E"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.14159 13.7915L25.7875 13.7915L24.6459 16.5L7 16.5L8.14159 13.7915Z" fill="#29324E"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.93956 21.4004L18.6957 21.4004L17.7561 24L8 24L8.93956 21.4004Z" fill="#29324E"></path>
            </svg>
            <div class="policy__item__text">
                Giao hàng nhanh trên toàn quốc
            </div>
        </div>
        <div class="policy__item">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50.6538 44.9597H22.4736L11.7289 52.3122L6.8905 55.6231L8.18165 50.5243L8.60884 48.8373L9.59075 44.9597H6.65381H5.59075H2.65381L3.63571 41.0821L10.0181 15.8776L11 12H15H59H63L62.0181 15.8776L55.6357 41.0821L54.6538 44.9597H50.6538ZM20.623 42.0108L13.02 47.2134L13.5907 44.9597L14.5727 41.0821H10.5727H7.63571L14.0181 15.8776H58.0181L51.6357 41.0821H23.4555H21.9802L20.623 42.0108ZM24.5632 25.5718H18.5632L17.0904 31.3882H23.0904L24.5632 25.5718ZM30.5632 25.5718H36.5632L35.0904 31.3882H29.0904L30.5632 25.5718ZM48.5632 25.5718H42.5632L41.0904 31.3882H47.0904L48.5632 25.5718Z" fill="#29324E"></path>
            </svg>
            <div class="policy__item__text">
                Hỗ trợ kĩ thuật
                online 24/7
            </div>
        </div>
    </div>
    <!-- Product Detail-->
    <div class="product-detail-bottom">
        <div class="block">
            <div class="block__header"><span class="block__header__title">THÔNG TIN SẢN PHẨM</span></div>
            <div class="block__content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#chitiet" role="tab" aria-controls="chitiet" aria-selected="true">Chi tiết sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="char-tab" data-toggle="tab" href="#dacdiem" role="tab" aria-controls="dacdiem" aria-selected="false">Thông số kĩ thuật</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="guar-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="guar-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review sản phẩm</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="chitiet" role="tabpanel" aria-labelledby="desc-tab">
                        <div class="content-description">
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>
                    <div class="tab-pane fade" id="dacdiem" role="tabpanel" aria-labelledby="char-tab">
                        @if (Model.Specification != null)
                        {
                            <div class="content-specification" style="">
                                @Html.Raw(Model.Specification)
                            </div>
                        }
                    </div>
                    <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="guar-tab">
                        @if (Model.Video != null)
                        {
                            <div class="content-video"><p><iframe frameborder="0" src="@Model.Video" width="640" height="360" class="note-video-clip"></iframe><br></p></div>
                        }
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="guar-tab">
                        <div class="content-review" style="">
                            <div class="review-form-info">
                                <div class="review-info">
                                    <div class="title">Đánh giá và nhận xét</div>
                                    <div class="rating">
                                        <div class="star-progress-bar">
                                            <div class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                                            <div class="progress-bar">
                                                <div class="progress progress-5" style="width: 0%;"></div>
                                            </div>
                                            <div class="number">0</div>
                                        </div>
                                        <div class="star-progress-bar">
                                            <div class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                                            <div class="progress-bar">
                                                <div class="progress progress-4" style="width: 0%;"></div>
                                            </div>
                                            <div class="number">0</div>
                                        </div>
                                        <div class="star-progress-bar">
                                            <div class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                                            <div class="progress-bar">
                                                <div class="progress progress-3" style="width: 0%;"></div>
                                            </div>
                                            <div class="number">0</div>
                                        </div>
                                        <div class="star-progress-bar">
                                            <div class="stars"><i class="fas fa-star"></i> <i class="fas fa-star"></i></div>
                                            <div class="progress-bar">
                                                <div class="progress progress-2" style="width: 0%;"></div>
                                            </div>
                                            <div class="number">0</div>
                                        </div>
                                        <div class="star-progress-bar">
                                            <div class="stars"><i class="fas fa-star"></i></div>
                                            <div class="progress-bar">
                                                <div class="progress progress-1" style="width: 0%;"></div>
                                            </div>
                                            <div class="number">0</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-form">
                                    <form id="form-review">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label for="Email" class="control-label">Email</label>
                                                <input type="text" name="Email" id="Email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="FullName" class="control-label">
                                                    Họ và tên
                                                </label> <input type="text" name="FullName" id="FullName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <label for="Stars" class="control-label" style="margin-bottom: 0px;">Đánh giá </label>
                                            <div class="rating-container pc">
                                                <input class="rating" name="Stars" id="Stars">
                                            </div>
                                        </div>
                                        <div class="form-block required">
                                            <label for="Review" class="control-label">Nội dung (bắt buộc)</label>
                                            <textarea name="Review" rows="5" id="Review"></textarea>
                                        </div>
                                        <input type="hidden" name="ProductID" id="ProductID" value="@Model.ID">
                                        <div class="buttons"><button id="button-review" data-loading-text="Đang tải...">Gửi review</button></div>
                                    </form>
                                </div>
                            </div>
                            <div class="reviews">
                                <div id="review">
                                    <p>Không có đánh giá cho sản phẩm này.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ if (sameProducts.Count != 0)
    {
        <div class="block block--home">
            <div class="block__header"><span class="block__header__title">SẢN PHẨM TƯƠNG TỰ</span></div>
            <div class="block__content home__product desktop">
                <div class="swiper-container product-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in sameProducts)
                        {
                            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                            string myClass = "hide";
                            string oldprice = "";
                            if (item.OldPrice.HasValue)
                            {
                                oldPrice = item.OldPrice.Value.ToString("N0") + "đ";
                            }

                            <div class="swiper-slide">
                                <div class="product">
                                    @if (item.PercentSale != 0)
                                    {
                                        myClass = "percent";
                                    }
                                    <div class="@myClass"><span>@(item.PercentSale.Value)%</span></div>
                                    <div class="product__thumb">
                                        <a class="product__link" href="@url"><img src="@item.Thumb" alt=""></a>
                                    </div>
                                    <div class="product__bottom">
                                        <div class="product__title">
                                            <a href="@url" class="product__link">@item.Title</a>
                                        </div>
                                        <div class="product__rate">
                                            <div class="rate__star">
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                                <i class="fas fa-star "></i>
                                            </div>
                                            <div class="rate__text">0 đánh giá</div>
                                        </div>
                                        <div class="product__price">
                                            <span class="price__selling">@(item.Price.Value.ToString("N0")) đ</span>
                                            <span class="price__old">@oldprice</span>
                                        </div>
                                        <button class="add-to-cart" data-id="@item.ID">Mua ngay</button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>
    }
    else
    {

    }

}
